
@import '~bootstrap/scss/bootstrap.scss';
@import '~@fontsource/nunito/index.css';
@import '~@fontsource/nunito/600.css';
@import '~@fontsource/nunito/800.css';


body {
  font-family: 'Nunito';
  background-color: $bgGeneral;
}

.container-fluid, .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

img {
  width: 100%;
}

h6 {
  text-transform: uppercase;
  padding-bottom: 24px;

}

p {
  color: darken($white, 50%);
  font-size: 14px;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}