
.preview {
  max-height: 3600px;
  min-height: 360px;
  height: 100%;
  color: $white;
  background-color:  lighten($bgGeneral, 10%);
  text-align: center;
  overflow: hidden;
}

.preview h6 {
  font-weight: 700;
  padding-top: 12px ;
 
}
